---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}-handle-image-data-{{ lookup('env', 'OPERATOR_VERSION') | lower | regex_replace('[^a-z0-9]', '-') }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app.kubernetes.io/name: '{{ deployment_type }}-handle-image-data'
    app.kubernetes.io/instance: '{{ deployment_type }}-handle-image-data-{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: handle-image-data
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    {{ lookup("template", "../common/templates/labels/version.yaml.j2") | indent(width=4) | trim }}
spec:
  backoffLimit: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: '{{ deployment_type }}-handle-image-data'
        app.kubernetes.io/instance: '{{ deployment_type }}-handle-image-data-{{ ansible_operator_meta.name }}'
        app.kubernetes.io/component: handle-image-data
        app.kubernetes.io/part-of: '{{ deployment_type }}'
        app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    spec:
{% if is_k8s %}
      securityContext:
        runAsUser: 1000
{% endif %}
      containers:
      - name: handle-image-data
        image: "{{ _image }}"
        imagePullPolicy: "{{ image_pull_policy }}"
        command:
          - /bin/bash
          - -c
          - |
            pulpcore-manager container-handle-image-data
        env:
          - name: POSTGRES_SERVICE_HOST
            valueFrom:
              secretKeyRef:
                name: {{ postgres_configuration_secret_name }}
                key: host
          - name: POSTGRES_SERVICE_PORT
            valueFrom:
              secretKeyRef:
                name: {{ postgres_configuration_secret_name }}
                key: port
          - name: HOME
            value: "/var/lib/pulp"
{% if combined_api.resource_requirements is defined %}
        resources: {{ combined_api.resource_requirements }}
{% endif %}
        volumeMounts:
          - name: {{ ansible_operator_meta.name }}-server
            mountPath: "/etc/pulp/settings.py"
            subPath: settings.py
            readOnly: true
          - name: {{ ansible_operator_meta.name }}-db-fields-encryption
            mountPath: "/etc/pulp/keys/database_fields.symmetric.key"
            subPath: database_fields.symmetric.key
            readOnly: true
{% if is_file_storage %}
          - name: file-storage
            readOnly: false
            mountPath: "/var/lib/pulp"
{% endif %}
      volumes:
        - name: {{ ansible_operator_meta.name }}-server
          secret:
            secretName: {{ ansible_operator_meta.name }}-server
            items:
              - path: settings.py
                key: settings.py
        - name: {{ ansible_operator_meta.name }}-db-fields-encryption
          secret:
            secretName: {{ db_fields_encryption_secret }}
            items:
              - path: database_fields.symmetric.key
                key: database_fields.symmetric.key
{% if is_file_storage %}
        - name: file-storage
          persistentVolumeClaim:
            claimName: {{ ansible_operator_meta.name }}-file-storage
{% endif %}
      serviceAccountName: '{{ ansible_operator_meta.name }}'
      restartPolicy: Never
